h2 {
  font-family: 'Baloo Bhaina', cursive;
}

/* Space out content a bit */
body {
  font-family: 'Signika', serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgb(245, 242, 240)
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.hpkt-btn {
  margin-bottom: 20px;
  color: white !important;
}

audio {
  display: block;
}

img {
  display: block;
}

/* Customize container */
@media (min-width: 48em) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {

}
